BasedOnStyle: LLVM

ColumnLimit: 100

BraceWrapping:
  AfterStructBlock: true
  SplitEmptyRecord: false
  BeforeInitializationList: false

# PackInitializers: Never
AllowShortBlocksOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine : false
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF : true
BreakBeforeBraces: Linux

# AlignArrayOfStructures: Left

# BraceWrapping:
#   AfterControlStatement: false
#   AfterEnum: false
#   AfterFunction: false
#   AfterStruct: false
#   AfterUnion: false
#   AfterExternBlock: false
#   BeforeElse: false
#   IndentBraces: false

#   AfterColon: false
#   AfterEquality: true