{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "L8_RGB888",
    "nonopaque_image_format": "L8_ARGB8888",
    "l8_compression": "yes",
    "rgb_compression": "yes",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "basic-setting.png": {
        "format": "L8_ARGB8888"
      },
      "advance-setting.png": {
        "format": "L8_ARGB8888"
      },
      "measure.png": {
        "format": "L8_ARGB8888"
      },
      "advance-setting-pressed.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "no"
      },
      "main-weighing.png": {
        "format": "L8_ARGB8888"
      },
      "measure-pressed.png": {
        "format": "L8_ARGB8888"
      },
      "basic-setting-pressed.png": {
        "format": "L8_ARGB8888"
      },
      "keyboard.png": {
        "format": "L8_RGB888",
        "l8_compression": "no"
      }
    }
  },
  "text_configuration": {
    "cache_size": 4096,
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "24",
    "font_format": "0",
    "copy_translations_to_ram": "no"
  }
}